.todo_create{
  padding: 20px 15px;
}
.today_date{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.input_area{
  position: relative;
}
.input_todo{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 80px);
  box-sizing: border-box;
  border: 0;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.btn_create{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px ;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
}
.btn_create:hover{
  background-color: rgb(221, 240, 255);
  font-weight: 700;
}
